@import './globals.scss';

.photo-carousel {

  max-height: 325px;
  overflow: hidden;



  .photo-carousel-item {
  }
}

.suggest-detail {
  color: $grey;

  margin-top: 25px;

  .suggest-info {

    .suggest-info-container {

    }

    .sd-tags {
      font-weight: 600;
      text-transform: uppercase;
      color: $blue-ish;
    }

    .sd-name {

      h2 {
        font-weight: 600;
        margin-top: 2px;
        color: $grey;
      }
    }

    .sd-ratings-reviews {
      margin-top: -10px;

      .rating {

      }

      .review {
        color: $grey;
        font-weight: 500;
      }
    }

    .sd-info-block {
      margin-top: 25px;
      font-size: 18px;

      .sd-caption-detail {
        margin-top: 15px;

        i {
          min-width: 25px;
          text-align: center;
        }

        .caption-text {
          min-width: 200px;
          display: inline-block;
          padding-left: 5px;
          font-weight: 500;
        }
      }
    }

    .from-owner {
      font-size: 18px;
      line-height: 24px;

      .from-owner-header {
        border-top: 1px solid $light-grey;
        margin-top: 35px;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
          font-weight: 400;
        }

        .toggle-btn {
          cursor: pointer;
          color: $blue-ish;
        }

      }
    }

    .review-block {
      margin-top: 35px;
      padding: 10px 0;
      border-top: 1px solid $light-grey;

      .review-block-header {
        font-size: 18px;

        h4 {
          font-weight: 400;
        }
      }

      .review-index {
        font-size: 18px;
        line-height: 24px;
        list-style-type: none;
        padding: 0;
        margin: 0;


        li {
          border-top: 1px solid $light-grey;
        }

        li:first-child {
          border-top: none;
        }

        .review-item {
          padding: 25px 0;

          .review-top {
            display: flex;
            align-items: center;
            padding-bottom: 15px;

            .avatar {
              max-width: 60px;
            }

            .username {
              margin-left: 15px;
              font-weight: 600;
            }
          }

          .review-text {

          }
        }
      }

      .toggle-btn-reviews {
        cursor: pointer;
        font-size: 18px;
        color: $blue-ish;
        display: flex;
        justify-content: center;
        font-weight: 300;
      }
    }

    .nav-container {
      border: 1px solid $light-grey;
      border-bottom: none;
      max-width: 550px;
      margin: 25px auto;
      font-size: 18px;
      color: $grey;

      -webkit-box-shadow: 5px 5px 29px 5px rgba(219,219,219,1);
      -moz-box-shadow: 5px 5px 29px 5px rgba(219,219,219,1);
      box-shadow: 5px 5px 29px 5px rgba(219,219,219,1);

      a {
        color: $blue-ish;
      }

      .nav-header {
        font-weight: 600;
      }

      .nav-item {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $light-grey;
        padding: 15px;
      }

      .title {
        font-weight: 500;
      }
    }

  }

  .more-recommendations {
    margin-top: 25px;

    h3 {
      font-weight: 500;
    }
  }

  .action-sidebar {
    position: -webkit-sticky;  // required for Safari
    position: sticky;
    top: 25px;
    .action-sidebar-container {

      .yelp-button {
        background-color: #CD1F20;

      }

      .fb-button {
        background-color: #3E66B0;
      }

      .twitter-button {
        background-color: #00A0EF;
      }

      .mail-button {

      }

      border: 1px solid $light-grey;
      border-top: 4px solid $blue-ish;



      padding: 10px 25px;

      .social-share {
        text-align: center;
      }
    }
  }

}
