@import './globals.scss';

.survey-question {

  h3 {
    font-weight: 600;
    color: $grey;
  }
}


.survey-answer {
  .all-options {
    padding-top: 10px;

    .option-container {

      .option {
        cursor: pointer;
        border: 1px solid $blue-ish;
        background-color: $light-grey;
        border-radius: 3px;
        margin: auto;
        margin-bottom: 20px;

        img {
          padding: 7px;
          width: 100%
        }

        .caption {
          text-align: center;
          font-weight: 500;
          padding: 9px 0 15px 0;
        }
      }

      .large-opt {
        max-width: 450px;
      }

      .small-opt {
        max-width: 150px;
      }
    }
  }
}

.text {
   max-width: 100px;

   .text-option {

   }
}
