.survey-question {

  h3 {
    font-weight: 500;
  }
}


.survey-answer {
  .all-options {
    padding-top: 10px;

    .option-container {


      .option {
        cursor: pointer;
        border: 1px solid black;
        background-color: lightgray;
        border-radius: 3px;
        max-width: 450px;
        margin: auto;
        margin-bottom: 20px;

        img {
          width: 100%;
          padding: 7px;
        }

        .caption {
          text-align: center;
          font-weight: 500;
          padding: 9px 0 15px 0;
        }

      }
    }
  }
}

.text {
   max-width: 100px;

   .text-option {

   }
}
