@import './globals.scss';

.survey-question {

  h3 {
    font-weight: 600;
    color: $grey;
  }
}


.survey-answer {
  .all-options {
    padding-top: 10px;

    .option-container {

      .option {
        cursor: pointer;
        border: 1px solid transparent;
        background-color: transparent;
        border-radius: 2px;
        margin: auto;
        margin-bottom: 20px;

        -webkit-box-shadow: 0px 0px 12px 1px rgba(219,219,219,1);
        -moz-box-shadow: 0px 0px 12px 1px rgba(219,219,219,1);
        box-shadow: 0px 0px 12px 1px rgba(219,219,219,1);

        img {
          width: 100%;
          border-radius: 2px;
        }

        .caption {
          text-align: center;
          font-weight: 500;
          padding: 9px 0 15px 0;
        }
      }

      .large-opt {
        max-width: 450px;

        img {
          padding: 0;
        }
      }

      .small-opt {
        max-width: 150px;

        img {
          padding: 25px;
        }
      }
    }
  }
}

.text {
   max-width: 100px;

   .text-option {

   }
}
