.main {
  margin-bottom: 200px; }

.survey-question h3 {
  font-weight: 600;
  color: #484848; }

.survey-answer .all-options {
  padding-top: 10px; }
  .survey-answer .all-options .option-container .option {
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 2px;
    margin: auto;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 12px 1px #dbdbdb;
    -moz-box-shadow: 0px 0px 12px 1px #dbdbdb;
    box-shadow: 0px 0px 12px 1px #dbdbdb; }
    .survey-answer .all-options .option-container .option img {
      width: 100%;
      border-radius: 2px; }
    .survey-answer .all-options .option-container .option .caption {
      text-align: center;
      font-weight: 500;
      padding: 9px 0 15px 0; }
  .survey-answer .all-options .option-container .large-opt {
    max-width: 450px; }
    .survey-answer .all-options .option-container .large-opt img {
      padding: 0; }
  .survey-answer .all-options .option-container .small-opt {
    max-width: 150px; }
    .survey-answer .all-options .option-container .small-opt img {
      padding: 25px; }

.text {
  max-width: 100px; }

.main {
  margin-bottom: 200px; }

.suggest-header h3 {
  color: #484848;
  font-weight: 600; }

.suggest-carousel .carousel-card img {
  max-height: 273.75px; }

.suggest-carousel .carousel-card .tags {
  text-transform: uppercase;
  color: #008489;
  font-weight: 600;
  margin-top: 5px; }

.suggest-carousel .carousel-card .tags:hover {
  text-decoration: none; }

.suggest-carousel .carousel-card .name {
  margin-top: 5px;
  color: #484848;
  font-size: 18px;
  font-weight: 600; }

.suggest-carousel .carousel-card .name:hover {
  text-decoration: none; }

.suggest-carousel .carousel-card .ratings-reviews .rating {
  color: #008489; }

.suggest-carousel .carousel-card .ratings-reviews .review {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #484848;
  font-weight: 500; }

.suggest-carousel .owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -20px;
  display: block;
  border: 0px solid #dbdbdb; }

.suggest-carousel .owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -25px;
  display: block;
  border: 0px solid #dbdbdb; }

.main {
  margin-bottom: 200px; }

.photo-carousel {
  max-height: 325px;
  overflow: hidden; }

.suggest-detail {
  color: #484848;
  margin-top: 25px; }
  .suggest-detail .suggest-info .sd-tags {
    font-weight: 600;
    text-transform: uppercase;
    color: #008489; }
  .suggest-detail .suggest-info .sd-name h2 {
    font-weight: 600;
    margin-top: 2px;
    color: #484848; }
  .suggest-detail .suggest-info .sd-ratings-reviews {
    margin-top: -10px; }
    .suggest-detail .suggest-info .sd-ratings-reviews .review {
      color: #484848;
      font-weight: 500; }
  .suggest-detail .suggest-info .sd-info-block {
    margin-top: 25px;
    font-size: 18px; }
    .suggest-detail .suggest-info .sd-info-block .sd-caption-detail {
      margin-top: 15px; }
      .suggest-detail .suggest-info .sd-info-block .sd-caption-detail i {
        min-width: 25px;
        text-align: center; }
      .suggest-detail .suggest-info .sd-info-block .sd-caption-detail .caption-text {
        min-width: 200px;
        display: inline-block;
        padding-left: 5px;
        font-weight: 500; }
  .suggest-detail .suggest-info .from-owner {
    font-size: 18px;
    line-height: 24px; }
    .suggest-detail .suggest-info .from-owner .from-owner-header {
      border-top: 1px solid #dbdbdb;
      margin-top: 35px;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .suggest-detail .suggest-info .from-owner .from-owner-header h4 {
        font-weight: 400; }
      .suggest-detail .suggest-info .from-owner .from-owner-header .toggle-btn {
        cursor: pointer;
        color: #008489; }
  .suggest-detail .suggest-info .review-block {
    margin-top: 35px;
    padding: 10px 0;
    border-top: 1px solid #dbdbdb; }
    .suggest-detail .suggest-info .review-block .review-block-header {
      font-size: 18px; }
      .suggest-detail .suggest-info .review-block .review-block-header h4 {
        font-weight: 400; }
    .suggest-detail .suggest-info .review-block .review-index {
      font-size: 18px;
      line-height: 24px;
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .suggest-detail .suggest-info .review-block .review-index li {
        border-top: 1px solid #dbdbdb; }
      .suggest-detail .suggest-info .review-block .review-index li:first-child {
        border-top: none; }
      .suggest-detail .suggest-info .review-block .review-index .review-item {
        padding: 25px 0; }
        .suggest-detail .suggest-info .review-block .review-index .review-item .review-top {
          display: flex;
          align-items: center;
          padding-bottom: 15px; }
          .suggest-detail .suggest-info .review-block .review-index .review-item .review-top .avatar {
            max-width: 60px; }
          .suggest-detail .suggest-info .review-block .review-index .review-item .review-top .username {
            margin-left: 15px;
            font-weight: 600; }
    .suggest-detail .suggest-info .review-block .toggle-btn-reviews {
      cursor: pointer;
      font-size: 18px;
      color: #008489;
      display: flex;
      justify-content: center;
      font-weight: 300; }
  .suggest-detail .suggest-info .nav-container {
    border: 1px solid #dbdbdb;
    border-bottom: none;
    max-width: 550px;
    margin: 25px auto;
    font-size: 18px;
    color: #484848;
    -webkit-box-shadow: 5px 5px 29px 5px #dbdbdb;
    -moz-box-shadow: 5px 5px 29px 5px #dbdbdb;
    box-shadow: 5px 5px 29px 5px #dbdbdb; }
    .suggest-detail .suggest-info .nav-container a {
      color: #008489; }
    .suggest-detail .suggest-info .nav-container .nav-header {
      font-weight: 600; }
    .suggest-detail .suggest-info .nav-container .nav-item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #dbdbdb;
      padding: 15px; }
    .suggest-detail .suggest-info .nav-container .title {
      font-weight: 500; }
  .suggest-detail .more-recommendations {
    margin-top: 25px; }
    .suggest-detail .more-recommendations h3 {
      font-weight: 500; }
  .suggest-detail .action-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 25px; }
    .suggest-detail .action-sidebar .action-sidebar-container {
      border: 1px solid #dbdbdb;
      border-top: 4px solid #008489;
      padding: 10px 25px; }
      .suggest-detail .action-sidebar .action-sidebar-container .yelp-button {
        background-color: #CD1F20; }
      .suggest-detail .action-sidebar .action-sidebar-container .social-share {
        text-align: center; }

.fade-enter {
  opacity: 0; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s; }

.fade-leave {
  position: absolute;
  top: 0;
  left: 15px;
  width: 100%;
  opacity: 1; }

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; }

.fade-appear {
  opacity: 0; }

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out; }

.question-container {
  position: relative; }

.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.main {
  margin-bottom: 200px; }

footer {
  width: 100vw;
  position: fixed;
  border-bottom: 25px solid #484848;
  bottom: 0;
  left: 0;
  background: #484848;
  color: white; }
  footer .title {
    color: white;
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: 5px; }
  footer .footer-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: -10px; }
    footer .footer-links .creator .creator-name {
      font-weight: 400;
      font-size: 15px;
      margin-bottom: -10px; }
    footer .footer-links .creator ul a {
      font-size: 20px;
      padding: 15px 5px 10px 5px; }
    footer .footer-links .creator ul a:hover {
      color: white; }
    footer .footer-links .creator ul .fa:hover {
      color: #008489; }

.page-footer {
  margin-bottom: -20px; }
