.survey-question h3 {
  font-weight: 500; }

.survey-answer .all-options {
  padding-top: 10px; }
  .survey-answer .all-options .option-container .option {
    cursor: pointer;
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 3px;
    margin: auto;
    margin-bottom: 20px; }
    .survey-answer .all-options .option-container .option img {
      padding: 7px;
      width: 100%; }
    .survey-answer .all-options .option-container .option .caption {
      text-align: center;
      font-weight: 500;
      padding: 9px 0 15px 0; }
  .survey-answer .all-options .option-container .large-opt {
    max-width: 450px; }
  .survey-answer .all-options .option-container .small-opt {
    max-width: 150px; }

.text {
  max-width: 100px; }

.suggest-carousel .owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -20px;
  display: block;
  border: 0px solid black; }

.suggest-carousel .owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -25px;
  display: block;
  border: 0px solid black; }

.photo-carousel {
  max-height: 325px;
  overflow: hidden; }

.suggest-detail {
  margin-top: 25px; }
  .suggest-detail .suggest-info .sd-tags {
    font-weight: 600;
    text-transform: uppercase; }
  .suggest-detail .suggest-info .sd-name h2 {
    margin-top: 2px; }
  .suggest-detail .suggest-info .sd-ratings-reviews {
    margin-top: -10px; }
  .suggest-detail .suggest-info .sd-info-block {
    margin-top: 25px;
    font-size: 18px; }
    .suggest-detail .suggest-info .sd-info-block .sd-caption-detail {
      margin-top: 15px; }
      .suggest-detail .suggest-info .sd-info-block .sd-caption-detail i {
        min-width: 25px;
        text-align: center; }
      .suggest-detail .suggest-info .sd-info-block .sd-caption-detail .caption-text {
        min-width: 200px;
        display: inline-block;
        padding-left: 5px;
        font-weight: 500; }
  .suggest-detail .more-recommendations {
    margin-top: 25px; }
  .suggest-detail .action-sidebar {
    border: 1px solid black;
    border-top: 4px solid black; }
  .suggest-detail .social-share {
    text-align: center; }
