.survey-question h3 {
  font-weight: 500; }

.survey-answer .all-options {
  padding-top: 10px; }
  .survey-answer .all-options .option-container .option {
    cursor: pointer;
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 3px;
    margin: auto;
    margin-bottom: 20px; }
    .survey-answer .all-options .option-container .option img {
      padding: 7px;
      width: 100%; }
    .survey-answer .all-options .option-container .option .caption {
      text-align: center;
      font-weight: 500;
      padding: 9px 0 15px 0; }
  .survey-answer .all-options .option-container .large-opt {
    max-width: 450px; }
  .survey-answer .all-options .option-container .small-opt {
    max-width: 150px; }

.text {
  max-width: 100px; }

.suggest-carousel .owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -20px;
  display: block;
  border: 0px solid black; }

.suggest-carousel .owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -25px;
  display: block;
  border: 0px solid black; }

.photo-carousel {
  max-height: 325px;
  overflow: hidden; }

.suggest-detail {
  margin-top: 25px; }
  .suggest-detail .suggest-info .sd-tags {
    font-weight: 600;
    text-transform: uppercase; }
  .suggest-detail .suggest-info .sd-name h2 {
    margin-top: 2px; }
  .suggest-detail .suggest-info .sd-ratings-reviews {
    margin-top: -10px; }
  .suggest-detail .suggest-info .sd-info-block {
    margin-top: 25px;
    font-size: 18px; }
    .suggest-detail .suggest-info .sd-info-block .sd-caption-detail {
      margin-top: 15px; }
      .suggest-detail .suggest-info .sd-info-block .sd-caption-detail i {
        min-width: 25px;
        text-align: center; }
      .suggest-detail .suggest-info .sd-info-block .sd-caption-detail .caption-text {
        min-width: 200px;
        display: inline-block;
        padding-left: 5px;
        font-weight: 500; }
  .suggest-detail .suggest-info .from-owner .from-owner-header {
    border-top: 1px solid black;
    margin-top: 35px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .suggest-detail .suggest-info .from-owner .from-owner-header .toggle-btn {
      cursor: pointer;
      color: red; }
  .suggest-detail .suggest-info .review-block {
    margin-top: 35px;
    padding: 10px 0;
    border-top: 1px solid black; }
    .suggest-detail .suggest-info .review-block .review-index {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .suggest-detail .suggest-info .review-block .review-index li {
        border-top: 1px solid gray; }
      .suggest-detail .suggest-info .review-block .review-index li:first-child {
        border-top: none; }
      .suggest-detail .suggest-info .review-block .review-index .review-item {
        padding: 25px 0; }
        .suggest-detail .suggest-info .review-block .review-index .review-item .review-top {
          display: flex;
          align-items: center;
          padding-bottom: 15px; }
          .suggest-detail .suggest-info .review-block .review-index .review-item .review-top .avatar {
            max-width: 60px; }
          .suggest-detail .suggest-info .review-block .review-index .review-item .review-top .username {
            margin-left: 15px;
            font-weight: 600; }
    .suggest-detail .suggest-info .review-block .toggle-btn-reviews {
      cursor: pointer;
      display: flex;
      justify-content: center;
      font-weight: 600; }
  .suggest-detail .suggest-info .nav-container {
    border: 1px solid black;
    border-bottom: none;
    max-width: 500px;
    margin: 25px auto; }
    .suggest-detail .suggest-info .nav-container .nav-header {
      font-weight: 600; }
    .suggest-detail .suggest-info .nav-container .nav-item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid black;
      padding: 15px; }
  .suggest-detail .more-recommendations {
    margin-top: 25px; }
  .suggest-detail .action-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 25px; }
    .suggest-detail .action-sidebar .action-sidebar-container {
      border: 1px solid black;
      border-top: 4px solid black;
      padding: 10px 25px; }
      .suggest-detail .action-sidebar .action-sidebar-container .social-share {
        text-align: center; }

.fade-enter {
  opacity: 0; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s; }

.fade-leave {
  position: absolute;
  top: 0;
  left: 15px;
  width: 100%;
  opacity: 1; }

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; }

.fade-appear {
  opacity: 0; }

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out; }

.question-container {
  position: relative; }

.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

footer {
  height: 35px;
  width: 100vw;
  margin-top: 25px;
  text-align: center;
  bottom: 0;
  background-color: black;
  color: white; }
